#headerWrap{
	background-color: black;

	height:120px;
	width:100%;

	position:fixed;

	margin:-10px;
	border:0;
	padding:0;
}

#headerContent{
	background-color:green;

	height:100px;
	width:60%;

	position:relative;

	margin:10px auto;
	border:0;
	padding:0;
}

#logo{
	background-color:red;

	height:90px;
	width:100px;

	position:relative;
	display:inline-block;

	margin:5px 5px 5px 5px;
	border:0;
	padding:0;
}

#headerButtons{
	background-color:blue;

	height:auto;
	width:auto;

	position:relative;
	list-style:none;
	display:inline-block;

	margin:0px 0;
	border:0;
	padding:0;
}

#headerButtons li{
	background-color:green;

	height:20px;
	width:auto;

	font-weight:bold;

	display:inline-block;
	list-style:none;

	margin:15px 5px;
	border:0;
	padding:2px;
}