#headerWrap{
	background-color: black;

	height:120px;
	width:100%;

	position:absolute;

	margin:-10px;
	border:0;
	padding:0;
}

#headerContent{
	background-color:black;

	height:120px;
	display:block;

	margin:0 auto;
	border:0;
	padding:0;
}

#logo{
	height:120px;
	width:auto;

	position:relative;
	display:inline-block;

	margin:0;
	border:0;
	padding:0;
}

#headerButtons{
	background-color:black;

	width:68%;

	float:right;

	margin:90px 0 0 0;
	border:0;
	padding:0;
}

#headerButtons a{
	background-color:black;

	color:#bc9850;
	font-size: 1.25em;

	float:right;

	margin:0 0 0 6.8%;
	border:0;
	padding:0px;
}

#headerButtons a:hover{
	border-style: solid;
	border-top-color:silver;
	border-bottom-color:silver;
	border-top-width: 1px;
	border-bottom-width:2px;
}