#contentWrap{
	height:auto;

	display:block;

	margin:20px auto;
	border:0;
	padding:5px;
}

.reviewPost{
	border:5px solid red;

	margin:20px auto;
	border:0;
	padding:0;
}

.reviewPost img{
	width:100%;
	height:auto;

	border:5px solid red;

	display:block;

	margin:0 0;
	border:0;
	padding:0px;
}

.reviewBox{
	border:2px solid silver;
}

.reviewDescriptor{
	background-color:#bc9850;
	color:white;
	font-weight:bold;
	font-size:1.2em;

	position:relative;
	display:inline-block;

	margin:20px 0 20px 20px;
	border:0;
	padding:10px 10px;
}

.reviewText{
	color:black;
	font-size:1.1em;

	margin:0 0 0 20px;
	border:0;
	padding:0;
}

.fullText{
	background-color: #848383;
	color:white;

	font-weight:bold;
	font-size:1.2em;

	display:inline-block;

	margin:20px 20px 20px 78%;
	border:0;
	padding:10px 6%;
}