#contentWrap{
	height:auto;

	display:block;

	margin:20px auto;
	border:0;
	padding:5px;
}

.reviewPost{
	margin:20px auto;
	border:0;
	padding:0;
}

.reviewPost img{
	width:100%;
	height:auto;

	display:block;

	margin:0 0;
	border:0;
	padding:0px;
}

.reviewBox{
	border:1px solid silver;
}

.blockHeader{
	color:white;
	font-weight:bold;
	font-size:1em;
}

.blockHeader:hover{
	cursor:pointer;
}

.reviewDescriptor{
	background-color:#bc9850;

	position:relative;
	display:inline-block;

	margin:20px 0 20px 20px;
	border:0;
	padding:10px 10px;
}

.reviewText{
	color:black;
	font-size:1em;

	max-height:200px;

	/*overflow:auto;*/

	margin:0 0 0 20px;
	border:0;
	padding:0;
}

.moreText{
	background-color: #848383;

	display:inline-block;

	margin:20px 20px 20px 78%;
	border:0;
	padding:10px 6%
}

.gradientOverlay{
  	background: -webkit-linear-gradient(bottom, #ffffff, #000000);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}