#contentWrap{
	height:auto;

	display:block;

	margin:10px auto;
	border:1px solid silver;
	padding:5px;
}

.reviewPost{
	margin:0 auto;
	border:0;
	padding:0;
}

.reviewPost img{
	width:100%;
	height:auto;

	display:block;

	margin:auto;
	border:0;
	padding:0;
}

.reviewDescriptor{
	background-color:#bc9850;
	color:white;

	width:auto;
	height:20%;

	position:relative;
	display:inline-block;

	margin:5%;
	border:0;
	padding:0;
}

.reviewText{
	background-color: green;

	color:blue;
}

.fullText{
	width:20%;
	height:25%;

	position:relative;
	display:inline-block;

	margin:0 80% 0 0;
	border:0;
	padding:0;
}