<DOCTYPE html>
<html>

<header>
	<link rel='stylesheet' type='text/css' href='../css/header.css' />
	<link rel='stylesheet' type='text/css' href='../css/posts.css' />
	<link rel='stylesheet' type='text/css' href='../css/page.css' />
</header>

<body>

	<div id="header">
		<div id='headerContent'>
			<div id="logo"></div>
			<table id="headerButtons">
				<ul>
					<li>CARS</li>
					<li>EVENTS</li>
					<li>STUFF</li>
				</ul>
			</table>
		</div>
	<div>

	<div id='contentWrap'>
		<div id="contentFeed">
			<div class='reviewPost'>
				<img src='http://upload.wikimedia.org/wikipedia/commons/5/5c/English_Bulldog_puppy.jpg' />
				<div class='reviewBox'>
					<div class='reviewDescriptor'></div>
					<div class='rating'></div>
					<div class='reviewText'></div>
					<button class='fullText'></div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>